/*h1 {
  color: red;
}*/

#first-heading {
  color: blue;
}

.text-grey {
  color: grey;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-underline {
  text-decoration: none; /* overline, line-through none */
}
.underline {
  text-decoration: none;
}
.text-uppercase {
  text-transform: lowercase;
}
.font-risque {
  font-family: 'Risque', cursive;
}
.font-italic {
  font-style: italic; /* oblique, none */
}
.font-bold {
  font-weight: bold; /* 100 - 900, bolder */
}
.font-size-50px {
  font-size: 50px;
}
.w-100 {
  width: 100%;
}
.h-500px {
  height: 1000px;
}
.bg-grey {
  background-color: grey;
}
.bg-violet {
  background-color: violet;
}
.bg-image {
  background-image: url(http://tinviet.net.vn/assets/images/news/20160719105835-921D2377.jpg);
}
.bg-images {
  background-image: url(https://pbs.twimg.com/media/CaQlW7hUsAAvT58.jpg);
}
.bg-cover {
  background-size: cover;
}
.bg-no-repeat {
  background-repeat: no-repeat;
}
.bg-fixed {
  background-attachment: scroll;; /* parallax */
}
.bg-red {
  background-color: red;
}
.w-50 {
  width: 50%;
}
.h-200px {
  height: 200px;
}
.text-center {
  text-align: center;
}
.d-inline-block {
  display: inline-block;
}
.bg-black {
  background-color: black;
}
.d-flex {
  display: flex;
}
.d-block {
  display: block;
}
.float-right {
  float: right;
}
.border-violet {
  border: 1px solid violet; /* shorthand */
}
.mt-50px {
  margin-top: 50px;
}
.ml-20px {
  margin-left: 20px;
}
.mr-30px {
  margin-right: 30px;
}
.mb-200px {
  margin-bottom: 200px;
}
#margin-element {
  margin: auto;
}
.w-200px {
  width: 200px;
}
.h-100px {
  height: 100px;
}
#padding-element {
  padding: auto;
}
.m-50px {
  margin: 50px;
}
.d-flex {
  display: flex;
}
.row-wrap {
  /* flex-flow: direction wrap; */
  flex-flow: row wrap;
  justify-content: center;
}
.justify-content-center {
  justify-content: center;
  align-items: center;
  align-content: center;
}
.items-center {
  align-items: center;
}
/*.align-content-center {
  align-content: center;
}*/
.nav{
  border:1px solid #ccc;
  list-style:none;
  margin: auto;
  padding: auto;
  text-align: center;
}
.nav li {
  display: inline;
  border: 0px solid #ccc;
}
.nav li a{
  text-decoration: none;
  display: inline-block;
  padding: 20px;
}
.green-box {
  background-color: lightgreen;
  height: 200px;
  width:  200px;
  padding: 10px
}
.red-box {
  box-sizing: border-box;
  background-color: red;
  padding: 50px;
  height: 100px;
  width: 100px;
  margin: 50px;
}
.color-pick {
  color: #af463b;
}
.color-pick2{
  color:rgb(29, 190, 176);
}
.box-sizing {
  box-sizing: border-box;
}
.box {
  width: 40%;
  height: 500px;
}
.quote {
  width: 40%;
  height: auto;
  float: right;
  background-color: black;
}
.font {
  font-family: 'Roboto Mono', cursive;
  color: rgb(244, 246, 246);
  font-weight: bold;
  padding: 20px;
}
.boxes {
  width: 100%;
  height: 300px;
}
.image {
  display: block;
  margin: auto;
}
.display {
  display: flex;
  flex-flow: row wrap;
}
.display li {
  list-style:none;
  display: inline-block;
}
.display li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  display: inline-block;
}
.text {
  justify-content: space-around;
}
.w-70 {
  width: 70%;
}
.app {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border: 1px solid #ccc;
  border-width: 1px 0 3px;
}
.font-family {
  font-family: arial;
  font-size: 12px;
}
.content {
  width: 30%;
  height: 500px;
  padding: 30px;
}
.color {
  color: #db3334;
}
.colors {
  color: black;
}
.font-f {
  font-family: arial;
  font-size: 25px;
  line-height: 1.5;
}
.padding-right {
  padding-right: 10px;
}
.padding-bottom {
  padding-bottom: 10px;
}
.font-style {
  font-family: arial;
  font-size: 14px;
}
.time{
  font-size: 12px;
}
.article{
  font-size: 17px;
}
