<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Account Renting Service </title>
  </head>
  <body>
    <h1> Rent Game Acounts </h1>

    <div class="">
      <a href="{{ url_for('search', game = "lol") }}"> Thuê account LoL </a>
    </div>
    <div class="">
      <a href="{{ url_for('search', game = "csgo") }}"> Thuê account csgo </a>
    </div>
    <div class="">
      <a href="{{ url_for('search', game = "pubg") }}"> Thuê account pubg </a>
    </div>

  </body>
</html>
